<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="Sitecore.JavaScriptServices.ViewEngine.LayoutService.Pipelines.GetLayoutServiceContext.RenderStaticItemProcessor, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
              <!-- the path or ID of the Sitecore item to render into the LS context -->
              <Item>/sitecore/content/jss-app-helix/home/navigation</Item>
              <!-- name of the JS property to put the layout into on the context; for example 'navigation' adds it to 'sitecore.context.navigation' in the LS JSON -->
              <ContextKey>navigation</ContextKey>
              <!-- optionally you can scope the rendering to a specific JSS app by name. This is usually a good idea, especially in multi-tenant Sitecore installs. -->
              <Applications hint="list">
                <app id="1">jss-app-helix</app>
              </Applications>
              <RunWhenNoItemResolved>true</RunWhenNoItemResolved>
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>